name: Run Tests

on:
  push:
    branches:
      - develop
      - main
  pull_request:
    branches:
      - develop
      - main

jobs:
  unit-tests:
    name: Run Test On PR
    runs-on: macos-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up Xcode
      run: sudo xcode-select --switch /Applications/Xcode_16.2.app

    - name: Build
      run: xcodebuild -scheme buntan -destination 'platform=iOS Simulator,name=iPhone 16 Pro,OS=18.6'

    - name: Run Tests
      run: xcodebuild -scheme buntan -destination 'platform=iOS Simulator,name=iPhone 16 Pro,OS=18.6' test
